#enderecos para encaminhar as requisicoes
PORT=8080
AUTH_SERVICE_URL=http://localhost:8081
CLIENTE_SERVICE_URL=http://localhost:8082
CONTA_SERVICE_URL=http://localhost:8083
GERENTE_SERVICE_URL=http://localhost:8084
SAGA_SERVICE_URL=http://localhost:8085
